#parentContainer {
    display: flex;
    width: calc(90vw - var(--sidebar-width));
    height: 65vh;
    max-height: 65vh;
}

#tableAndButtonsContainer {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.budget-pie-chart {
    width: 40%;
}

#buttonContainer {
    display: flex;
}

.button {
    text-align: center;
}

#tableContainer {
    max-height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: #2776BC #f0f0f0;
}

    #tableContainer::-webkit-scrollbar {
        width: 8px;
    }

    #tableContainer::-webkit-scrollbar-thumb {
        background-color: #2776BC;
        border-radius: 4px;
    }

    #tableContainer::-webkit-scrollbar-track {
        background-color: #f0f0f0;
    }

thead th {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}
