:root {
    --sidebar-width: 18rem;
}

.header .navbar {
    width: var(--sidebar-width);
    flex-shrink: 0;
    height: 100%;
    background-color: #2776BC;
    display: flex;
    flex-direction: column;
    border-right: 2px solid black;
}

.header .navbar .container-fluid {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    padding-top: 1rem;
}

.navbar-brand {
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
}

.navbar-brand:hover {
    color: #D9D9D9;
}

.menu-icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.navbar-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem 1rem;
    flex-shrink: 0;
    border-bottom: 2px solid black;
}

body {
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 100vh;
}

.body-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

#loading-overlay {
    position: fixed;
    top: 0;
    left: var(--sidebar-width);
    width: calc(100% - var(--sidebar-width));
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader-hidden {
    opacity: 0 !important;
    pointer-events: none;
}

.button {
    background-color: #2776BC;
    border: 2px solid black;
    width: 25%;
    margin-right: 0.8em;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    user-select: none;
}