#yearAndMonthsMenuContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 60vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

#yearAndMonthsMenu {
    width: 23%;
    height: 40%;
    background-color: white;
    border: 2px solid black;
    border-radius: 4px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.historySelector {
    width: 90%;
    max-height: 15em;
    margin: 0 auto;
    margin-top: 0.8em;
    border: 2px solid grey;
    border-radius: 4px;
    overflow-x: hidden;
    overflow-y: auto;
    user-select: none;
    cursor: pointer;
}

.historySelector-closed {
    padding: 0.6em;
    text-align: center;
    background-color: white;
    color: black;
}

#yearSelector {
    margin-top: 0.8em;
}

#monthSelector {
    margin-bottom: 0.8em;
}
#monthSelector:empty {
    min-height: 3em;
}

.year-option, .month-option {
    background-color: white;
    color: black;
    text-align: center;
    padding-top: 0.6em;
    height: 3em;
    border-bottom: solid 2px grey;
}

.year-option:last-child, .month-option:last-child {
    border-bottom: none;
}

.yearMonthDropdownShow {
    z-index:1000;
}

.button-container {
    display: flex;
    justify-content: right;
}

.button {
    background-color: #4FE3E3;
    border: 2px solid grey;
    width: 25%;
    margin-right: 0.8em;
    border-radius: 4px;
    cursor: pointer;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.body-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-parent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 70vh;
}

.graph {
    width: 50%;
    height: 100%;
    border: 2px solid black;
    border-radius: 4px;
    margin: 2em;
    background-color: white;
}